<span style="line-height:30px">
  To leave a comment, please <%= link_to "sign in", :controller => "site", :action => "index" %> or <%= link_to "register", :controller => "account", :action => "register" %> first.
</span>