  <ul>
    <% unless @user.friends.empty? %>
      <% @user.friends.each do |friend| %>
        <li class="friend">
          <span id="thumbnail">
		    <%= link_to mini_thumbnail_tag(friend), surfer_path(friend.screen_name), :title => friend.screen_name %>
		  </span>
		  <% unless hide_text %>
		    <span id="surfer">
			  <%= link_to friend.screen_name, surfer_path(friend.screen_name) %>
		      (<%= friend.user_information.full_name %>) -
			</span>
            <span id="actions">
			  <%= link_to "delete", { :controller => "friendship", :action => "delete", 
									  :id => friend.screen_name },
						  :confirm => "Really delete friendship with #{friend.screen_name}?" %>
			</span>
		  <% end %>
	    </li>
      <% end %>
    <% end %>
    <div class="spacer"></div>
  </ul>