<div class="layout1">
  <div class="main_container">

    <%= render :partial => "layouts/rnd_box_top", :locals => { :name => "white_on_sky" } %>
    	<%= render :partial => "gears/gear", :collection => [ @gear ], :locals => { :hide_edit_links => @hide_edit_links, :photo_size => "normal" } %>
	<%= render :partial => "layouts/rnd_box_bottom", :locals => { :name => "white_on_sky" } %>

  </div>
</div>