<div class="layout1">
  <div class="main_container">

		<div class="main_box">
		<%= render :partial => "layouts/rnd_box_top", :locals => { :name => "white_on_sky" } %>

			<h1>Our mission</h1>
			<p>
				Provide an online platform for the surfing community to share simple and real-time surf reports.
				<br/><br/>
			</p>
			
			<h1>About</h1>
			<p>
				Surftrottr was created with one goal in mind: provide an online platform for surfers to share simple and real-time surf reports. There are lots of resources out there that focus on providing the latest and greatest surf forecasts for the week. These forecasts are typically based on the tide schedules, projected winds and other oceanographic data. 
				This is all nice but how many times did you drive down to the beach expecting to see chest-high and clean glassy waves just to find a field a choppy two-footers? Well we certainly did, and probably too many times...
				<br/><br/>
				Don't give us wrong. Most often than never these resources do a fantastic job at producing easy-to-digest surf reports for the public so you can plan somewhat ahead. However they only address one part of the problem.
				They do give a sense of how good or bad the surf conditions will be in the near future but they usually fail to accurately assess surf conditions at a given moment, i.e. when you're about to pack your board and need it the most.
				In reality conditions change quickly and surfspots have their own characterics (geographical orientation, wind exposure, ocean floor topography, etc). That's just how it is and no forecasting model has yet to consistently produce accurate surf reports tailored to a specific spot at any given time.
				<br/><br/>
				The truth is nothing beats a simple real-time surf report. Because at the end of the day, all you want to know is if the conditions are good or bad (or in between), and if they are good, which surfspot may be the most suited for your skills or for what you're looking for.
				Surftrottr does exactly that by making it easy to share instant surf reports on the fly with the rest of the surfing community.
			</p>
		
			<div class="spacer"></div>
		<%= render :partial => "layouts/rnd_box_bottom", :locals => { :name => "white_on_sky" } %>
		</div>
	
  </div>
</div>
