<div class="layout1">
  <div class="main_container">
	
	<div class="main_box">
		<%= render :partial => "layouts/rnd_box_top", :locals => { :name => "white_on_sky" } %>

			<h1>Surftrottr Terms of Use</h1>
			<h2>Terms of Service</h2>
			<p>
				By using the Surftrottr.com web site (the "Service"), you are agreeing to be bound by the following terms and conditions (the "Terms of Use").
			</p>
			
			<h2>Basic Terms</h2>
			<p>
				<ol>
					<li>You must be 13 years or older to use the Service.</li>
					<li>You are solely responsible for any activity that occurs under your screen name, password or account.</li>
					<li>You are responsible for keeping your password secure and confidential.</li>
					<li>You must not abuse, harass, threaten, impersonate or intimidate other Surftrottr users or use any information obtained from the Service in order to do so.</li>
					<li>You may not use the Surftrottr.com service for any illegal or unauthorised purpose. You agree to comply with all local laws (including but not limited to those relating to copyright and other intellectual property rights) that may be applicable to you regarding online conduct and acceptable content.</li>
					<li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links and any other content (the "Content") that you submit, post, and display on the Surftrottr.com service. You may not submit and display on the Service any copyrighted material, trademarks or other proprietary Content belonging to others without obtaining the prior written consent of the owner of such proprietary rights.</li>
					<li>You must not modify, adapt or hack Surftrottr.com or modify another website so as to falsely imply that it is associated with Surftrottr.com.</li>
					<li>You must not create or submit unwanted email to any Surftrottr members ("Spam").</li>
					<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
					<li>You must not, in the use of Surftrottr, violate any laws in your jurisdiction (including but not limited to copyright laws).
						Violation of any of these agreements will result in the termination of your Surftrottr.com account. While Surftrottr.com prohibits such conduct and content on its site, you understand and agree that Surftrottr cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Surftrottr.com service at your own risk.</li>
				</ol>
			</p>
			
			<h2>General Conditions</h2>
			<p>
				<ol>
					<li>We reserve the right to modify or terminate the Surftrottr.com service for any reason, without notice at any time.</li>
					<li>We reserve the right to refuse service to anyone for any reason at any time.</li>
					<li>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.</li>
					<li>You can use the basic features of the Service free of charge. However, you accept that you will have to pay for any and all network data charges (including but not limited to your Internet access charges and mobile originated SMS message charges) that may be incurred when you use the Service.</li>
					<li>These Terms of Use shall be governed by the laws of the United States of America and you submit to the exclusive jurisdiction of the United States of America courts.</li>
					<li>If any of the provisions of these Terms of Use are declared void or unenforcable, such provisions shall be limited or eliminated to the minimum extent necessary and replaced with a valid provision that best embodies the initial intent of these Terms and Conditions, so that these Terms and Conditions shall remain in full force and effect.</li>
				</ol>
			</p>
			
			<h2>Coyright</h2>
			<p>
				<ol>
					<li>We claim no ownership or intellectual property rights over the Content that you upload to the Surftrottr service. Any intellectual property rights in the material in your profile and in the uploaded Content belong solely to you (or your licensors). However, by uploading the Content to the Service, you grant Surftrottr a non-exclusive, royalty-free, worldwide, perpetual and irrevocable right to use, reproduce, modify, distribute, sublicense, and prepare derivative works of, such Content, in any format or medium now known or later developed, solely on and through the Service, subject to these Terms of Use. You represent and warrant that you have sufficient rights to grant this license. You can remove your profile at any time by deleting your account. This will also remove any text and images you have stored in the system.</li>
					<li>We encourage users to contribute their creations to the public domain or consider progressive licensing terms.</li>
					<li>Surftrottr undertakes to obey all relevant copyright laws. We will review all claims of copyright infringement received and remove content deemed to have been posted or distributed in violation of any such laws. To make a claim, please provide us with the following:
						<ol>
							<li>A physical or electronic signature of the copyright owner or the person authorised to act on its behalf;</li>
							<li>A description of the copyrighted work claimed to have been infringed;</li>
							<li>A description of the infringing material and information reasonably sufficient to permit Surftrottr to locate the material;</li>
							<li>Your contact information, including your address, telephone number, and email;</li>
							<li>A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorised by the copyright owner, its agent, or the law; and</li>
							<li>A statement that the information in the notification is accurate, and, under the pains and penalties of perjury, that you are authorised to act on behalf of the copyright owner.</li>
						</ol>
					</li>
				</ol>
			</p>
			
			<h2>Limitation of Liability</h2>
			<p>
				<ol>
					<li>The Service is made available to you for your convenience on an "as is" and "as available" basis. Surftrottr does not warrant or make any representations or warranties (including but not limited to merchantability, fitness for a particular purpose, satisfactory quality, reliability or non-infringement) regarding the use or the results of the use or the contents of the Service. You understand that the Service may have software "bugs" and may have other issues affecting availability and functionality. In addition to all other disclaimers and limitations of liability contained in these Terms of Use, you specifically agree that Surftrottr is not liable for any of the above issues. Moreover, you understand that Surftrottr does not warrant or represent that the Service will work on all mobile phones, will be compatible with all mobile phone networks and/or will be available in all geographical areas.</li>
					<li>Surftrottr shall not be liable for any loss or damage, whether direct, indirect, special or consequential, arising out of the use of or the inability to use the service, or the results or the contents thereof, to the greatest extent permitted by law.</li>
					<li>If you are dissatisfied with the Service, or have any other disputes or claims with or against Surftrottr with respect to the Service or these Terms of Use, then your sole and exclusive remedy is to discontinue using the Service.</li>
				</ol>
			</p>
			
			<h2>Modification of these Terms of Use</h2>
			<p>
				You understand that we are continuously developing the features and the functionality of the Service. We reserve the right to alter these Terms of Use at any time in our sole discretion. If the alterations constitute a material change to the Terms of Use, we will notify you via Internet mail. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement. Your sole remedy should you not agree with the altered Terms of Use shall be to close your account and to cease using the Service.
			</p>

			<div class="spacer"></div>
		<%= render :partial => "layouts/rnd_box_bottom", :locals => { :name => "white_on_sky" } %>
	</div>

  </div>
</div>