<% field_title = nil if not defined?(field_title) -%>
<label for="<%= field %>">
  <%= field_title || field.humanize %>
  <span class="required_field">*</span>
  <span class="description"><%= description %></span>
</label> 
<%= form.password_field field, 
                        :size => User::PASSWORD_SIZE, 
                        :maxlength => User::PASSWORD_MAX_LENGTH,
						:class => "password" %>